html, body {

	padding:0;
	margin:0;
	width:100%;
	height:100%;
	overflow: hidden;
}

.banner, .static-banner {

	position:relative;
	width:100%;
	height:100%;
	overflow:hidden;
}

.banner canvas, .static-banner canvas {

	position:absolute;
	top:0;
	left:0;
/*	width:100%;
	height:100%;*/
}

.bannerImages {

	position: absolute;
	top:0;
	left:100%;
}

.static-banner img, .bannerImages img {
	display: none;
}


